<!DOCTYPE html>
<!--[if lte IE 7]>
<html class="ie7">
<![endif]-->
<!--[if IE 8]>
<html class="ie8">
<![endif]-->
<!--[if IE 9]>
<html class="ie9">
<![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<html xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <title>Xem phim Saving Mr.Wu  (Giải Cứu Con Tin) Full HD | HayHayTV</title>
    <base href="http://www.hayhaytv.vn/"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="Giải Cứu Con Tin - Saving Mr.Wu  - Bộ phim điện ảnh Saving Mr.Wu 2015 được đạo diễn bởi Đinh Thạnh, cùng dàn diễn viên chính gồm..."/>
    <meta name="keywords" content="xem phim, phim hay, phim online, phim hd, phim miễn phí, xem phim hay, xem phim online, xem phim hd, xem phim miễn phí"/>
    <meta property="og:title" content="Xem phim Saving Mr.Wu  (Giải Cứu Con Tin) Full HD | HayHayTV"/>
    <meta property="og:site_name" content="hayhaytv.vn"/>
    <meta property="fb:app_id" content="451494911564313"/>
    <meta property="fb:admins" content="1808049221"/>
    <meta property="fb:admins" content="100002109560848"/>
    <meta property="og:description" content="Giải Cứu Con Tin - Saving Mr.Wu  - Bộ phim điện ảnh Saving Mr.Wu 2015 được đạo diễn bởi Đinh Thạnh, cùng dàn diễn viên chính gồm..."/>
    <meta property="og:image" content="http://img.hayhaytv.vn/film/25092015/crop/saving_34971443164970.jpg"/>
    <meta http-equiv="Content-Language" content="vi"/>
    <meta name="Language" content="vietnamese"/>
    <link rel="shortcut icon" href="http://xwqdhxxp.cdnviet.com/static/layout/images/favicon.ico"/>
    <link rel="image_src" href="http://xwqdhxxp.cdnviet.com/static/layout/images/logo.png"/>
    <link type="image/x-icon" href="http://xwqdhxxp.cdnviet.com/static/layout/images/favicon.ico" rel="icon"/>
    <!-- The Stylesheet -->
    <link href="http://www.hayhaytv.vn/layout/css/font_hayhaytv.css" rel="stylesheet" type="text/css">
    <link href='http://xwqdhxxp.cdnviet.com/static/layout/css/reset.css' rel='stylesheet' type='text/css'>
    <link href="http://xwqdhxxp.cdnviet.com/static/layout/css/style.css?v=4" rel="stylesheet" type="text/css">
    <style type="text/css">.main-full {margin-top: 0px;}</style>
    <link rel='stylesheet' type='text/css' href='http://xwqdhxxp.cdnviet.com/static/layout/css/auto-complete.css'/>

    <!-- The JS -->
    <script src="http://xwqdhxxp.cdnviet.com/static/layout/js/jquery.1.7.min.js"></script>



    <script type='text/javascript'>
        var ADS_TRACK = false;
        var http = 'http://www.hayhaytv.vn/';
        var http_static = 'http://xwqdhxxp.cdnviet.com/static/';
        var APPID = '451494911564313';
        var links_google = 'https://accounts.google.com/o/oauth2/auth?response_type=code&redirect_uri=http%3A%2F%2Fwww.hayhaytv.vn%2Findex.php&client_id=1072878399715-180d1lcf46k175n2emba67onb3kuo6td.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fplus.login+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile&access_type=offline&approval_prompt=force';
        var USERNAME = 'DaoQuangPhuong';
//        var token_value = '1f32080f2bd41d73d1fd383bc3bc52cf';

        //var socket = io.connect("http://118.69.202.7");

        //socket.on('connect', function () {
        //   socket.emit( 'pageview', { url: window.location.href } );
        //});
    </script>
    <style type="text/css">
        #abc {
            z-index: 99999;
            filter: alpha(opacity=0);
            opacity: 0
        }

        .pp-center {
            width: 960px;
            margin-left: -480px;
            top: 50%;
            margin-top: -240px;
            padding: 10px;
            background-color: #f6f6f6;
        }
    </style>

    <script>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        (function() {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' :'http:')+'//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        })();
    </script>
</head>
<body class="default-themes themes-tetholiday ">

<div class="container">




    <div class="main-full">
        <div class="banner_add-full">
            <div class="banner_add">
                <script src="http://www.hayhaytv.vn/jwplayer/jwplayer.js"></script>
                <script type="text/javascript" src="http://da.vcdn.vn/static/plugin/plugin.js"></script>
                <script type="text/javascript" >
                    var adsPlayed = 0;
                    var adsXMLURLccabdf8924b80882a055910cf66c944b = '';
                    var film_id = 'detail31363633366E61';
                    var ready = false;
                    var is_vip_text = '';
                    player_id = "new_player";
                    var isResumed = false;
                    var is_trailer = false;
                    var is_played = false;
                    var is_backup=false;
                    var tracker_url = 'http://www.hayhaytv.vn/vod/track_preroll_played&name=';
                    var prerollLimit = [];
                    var prerollCap = [];
                    var is_play_track=false;
                    var ipAdress='14.175.26.190';
                    //var prerollCap = ['Lavanet','Vivid','Bonus','Xaxis'];
                    var _paq = _paq || [];
                    function addPlayer(movie_url, movie_image, info_url, subs, trailer) {

                        //ipAdress=data["ip"];
                        //console.log(data["ip"]);
                        is_played=false;
                        adsPlayed = 0;
                        is_play_track=false;
                        isResumed = false;
                        var film_url=movie_url;
                        if(typeof(trailer) != 'undefined' && trailer){
                            is_trailer = true;
                            film_url=movie_url;
                        }
                        else{
                            is_trailer = false;

                        }
                        playlist_obj = {
                            provider: "http://static.hayhaytv.vn/jwplayer/hls.6.018.swf",
                            sources: [{
                                file: film_url,
                                type: 'hls',
                            }],
                            image: movie_image
                        }
                        var userId = defaultObj.userId;
                        var autostartFilm=false;
                        if(is_backup&& adsPlayed >= 2)
                        {
                            adsXMLURLccabdf8924b80882a055910cf66c944b="";
                            autostartFilm=true;
                        }

                        jwplayer(player_id).setup({
                            debug:true,
                            primary: "flash",
                            flashplayer: "http://static.hayhaytv.vn/jwplayer/jwplayer.flash.v12.swf",
                            hls_minbufferlength : 0,
                            hls_maxbufferlength : 60,
                            playlist: [ playlist_obj ],
                            captions: {         //  format text for subtitles
                                back: false,
                                color: '#FFFFFF',
                                fontfamily: "Arial",
                                fontsize: 18,
                                fontOpacity: 100,
                                backgroundColor: "#FFFF00",
                                backgroundOpacity: 0,
                                edgeStyle: "depressed", //  none, dropshadow, raised, depressed, uniform
                                windowColor: "#000000",
                                windowOpacity: 0
                            },
                            plugins: {
                                "http://static.hayhaytv.vn/jwplayer/swf/at-plugin.v1.2.0.swf": {
                                    userid: userId,
                                    ads_pause_url: adsXMLURLccabdf8924b80882a055910cf66c944b+"&ip="+ipAdress,
                                    info_url: info_url,
                                    notify_cc_url: "",
                                    bgimage: movie_image
                                }
                            },
                            autostart: autostartFilm,
                            width: defaultObj.playerWidth,
                            height: defaultObj.playerHeight,
                            aspectratio: '16:9',
                            startparam:'begin',
                            stretching:"uniform",
                            events: {
                                onPause: function(e) {
                                    var myPosition = Math.floor(jwplayer(player_id).getPosition());
                                    var myState = jwplayer(player_id).getState();
                                    if( (e.oldstate == "BUFFERING" || e.oldstate == "PLAYING") && e.newstate == "PAUSED" && myPosition > 60){
                                        setCookie("resume"+film_id, myPosition, 4);
                                    }
                                }
                            }
                        });
                        playerInfo.fileSrc  = movie_url;
                        playerInfo.imageSrc = movie_image;
                        playerInfo.isError  = false;
                        jwplayer(player_id).onTime(SetPlayInfo);
                        jwplayer(player_id).onPlay(onPlayerPlayed);
                        jwplayer(player_id).onBufferChange(SetBufferInfo);
                        jwplayer(player_id).onComplete(OnPlayerComplete);


                        return true;
                    }

                    function loadVideo(myFile,myImage,mySubList) {
                        playerInfo = defaultObj;
                        jwplayer(player_id).load([{
                            file: myFile,
                            image: myImage,
                            tracks: mySubList
                        }]);
                        playerInfo.isComplete = false;
                    };

                    function onPlayerPlayed(e){
                        //check to resume
                        if(e.newstate == 'PLAYING'){
                            if(!is_trailer){
                                if(isResumed == false){
                                    checkCookie();
                                    setCookie("resume"+film_id, 0, -1);
                                    isResumed = true;
                                }
                            }
                            //track played film
                        }
                        if(!is_played){
                            ga_event('Videos', 'Play'+is_vip_text, 'Xem được phim');
                            //_paq.push(['trackEvent', 'Videos', 'Play'+is_vip_text, 'Xem được phim']);
                            is_played = true;

                            $.ajax({
                                type: 'POST',
                                data: { cat: "Videos", act: "PLay"+is_vip_text, lbl: "Xem được phim", desc: "", ip: "", "uid": UID, "fid": "", "fname": ""},
                                url: 'http://socute.vn:3000/logger',
                                dataType: "json", // data type of response
                                success: function (data) {
                                    console.log(data);
                                }
                            });
                            // Tracking
                            if(UID != '-1'){
                                $.ajax({
                                    type: 'POST',
                                    data: { 'uid': UID, 'fcl': CAT_LIST, 'frl': REL_LIST, 'fid': FILM_ID, 'ls': 0},
                                    url: 'http://socute.vn:3000/workouts',
                                    dataType: "json", // data type of response
                                    success: function (data) {
                                        console.log(data);

                                    }
                                });
                            }
                        }
                    }

                    function SetPlayInfo(e) {
                        if (e.duration > 0) playerInfo.duration = e.duration;
                        if (e.position > 0) playerInfo.position = e.position;
                        playerInfo.buffered = jwplayer(player_id).getBuffer(); // 0 - 100
                        playerInfo.volume = jwplayer(player_id).getVolume(); // 0 - 100
                    }

                    function SetBufferInfo(e) {
                        playerInfo.bufferedPercent = e.buffer ;
                    }

                    function OnPlayerComplete(e) {
                        if(typeof(nextEpisode) != 'undefined' && nextEpisode.length){
                            setTimeout(function(){
                                window.location.href = nextEpisode;
                            },15000);
                        }
                    }

                    function logError(e)
                    {
                        var myDate = new Date();
                        var dateString=(myDate.getMonth() + 1) + "/" + myDate.getDate() + "/" + myDate.getFullYear() +" "+myDate.getHours() + ":" + myDate.getMinutes() + ":" + myDate.getSeconds();
                        var message=ipAdress+ ' - ' + UID + ' - ' + dateString;
                        var cate='Error';
                        var filmName="Saving Mr.Wu ";
                        if(!is_play_track) cate ='Error';
                        else cate = 'ErrorCDN';
                        if(is_vip_text=='VIP')
                            ga_event(cate, e.message ,message + "-" + filmName);


                        $.ajax({
                            type: 'POST',
                            data: { cat: cate, act: e.message, lbl: "", desc: "", ip: ipAdress, "uid": UID, "fid": FILM_ID, "fname": filmName},
                            url: 'http://socute.vn:3000/logger',
                            dataType: "json", // data type of response
                            success: function (data) {
                                console.log(data);
                            }
                        });


                    }


                    function retry_player(){
                        addPlayer(initVideoUrlccabdf8924b80882a055910cf66c944b, imageSrc, infoXMLUrl, videoSubsccabdf8924b80882a055910cf66c944b);
                        $('#modal_player_error').hide();
                    }

                    function GetPlayInfo() {
                        return playerInfo;
                    }

                    function setCookie(cname, cvalue, exdays) {
                        var d = new Date();
                        d.setTime(d.getTime() + (exdays*24*60*60*1000));
                        var expires = "expires="+d.toGMTString();
                        document.cookie = cname + "=" + cvalue + "; " + expires + "; path=/";
                        // Tracking

                        if(UID != '-1'){
                            $.ajax({
                                type: 'POST',
                                data: { 'uid': UID, 'fcl': CAT_LIST, 'frl': REL_LIST, 'fid': FILM_ID, 'ls': cvalue},
                                url: 'http://socute.vn:3000/workouts',
                                dataType: "json", // data type of response
                                success: function (data) {
                                    console.log(data);

                                }
                            });
                        }
                    }
                    function getCookie(cname) {
                        var name = cname + "=";
                        var ca = document.cookie.split(';');
                        for(var i=0; i<ca.length; i++) {
                            var c = ca[i].trim();
                            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
                        }
                        return "";
                    }
                    function checkCookie(e) {
                        var resume_position = getCookie("resume"+film_id);
                        if (resume_position > 0 && adsPlayed) {
                            jwplayer(player_id).seek(Math.floor(resume_position));
                        }
                    }
                    function GetState() {
                        return jwplayer(player_id).getState();
                    }
                    function Ads_CountClick(ads) {
                        if(ads.id.indexOf('Preroll_') != -1){
                            eventCategory = 'Pre-roll';
                        }

                        if(ads.id.indexOf('Midroll_') != -1){
                            eventCategory = 'Mid-roll';
                        }

                        if(ads.id.indexOf('Pause_') != -1){
                            eventCategory = 'Pause-ads';
                        }

                        ga_event(eventCategory, 'Click', ads.id.replace(/_/g, ' '));
                        api_click_hit(ads.atCampaign,ads.atPartner);
                        //_paq.push(['trackEvent', eventCategory, 'Click', ads.id.replace(/_/g, ' ') ]);


                    }

                    function Ads_CountView(ads) {
                        adsPlayed++;

                        var eventCategory = '';
                        var isPreroll=false;
                        if(eval(ads.beginTime) <= 0){
                            eventCategory = 'Pre-roll';
                            isPreroll=true;
                        }
                        else {
                            if(ads.id.indexOf('Midroll_') != -1){
                                eventCategory = 'Mid-roll';
                                isPreroll=false;
                            }

                            if(ads.id.indexOf('Pause_') != -1){
                                eventCategory = 'Pause-ads';
                                isPreroll=false;
                            }
                        }
                        if(isPreroll) {
                            //var prepos=adsPlayed;
                            if(adsPlayed>2) adsPlayed=2;
                            ga_event('Videos', 'Play', ' Xem Preroll '+adsPlayed);

                            $.ajax({
                                type: 'POST',
                                data: { cat: "Videos", act: "PLay", lbl: " Xem Preroll " + adsPlayed, desc: "", ip: "", "uid": UID, "fid": "", "fname": ""},
                                url: 'http://socute.vn:3000/logger',
                                dataType: "json", // data type of response
                                success: function (data) {
                                    console.log(data);
                                }
                            });


                        }

                        ga_event(eventCategory, 'View', ads.id.replace(/_/g, ' '));
                        api_impression_hit(ads.atCampaign,ads.atPartner);
                        //_paq.push(['trackEvent', eventCategory, 'View', ads.id.replace(/_/g, ' ') ]);

                        for (var i = 0; i < prerollLimit.length; i++) {
                            if (ads.adID == prerollLimit[i] ) {
                                $.get(tracker_url+prerollLimit[i].toLowerCase());
                            }
                        }
                        //set frequency capping cookie
                        for (var i = 0; i < prerollCap.length; i++) {
                            if (ads.adID == prerollCap[i] ) {
                                var cookiename = 'TVC_ads_views_' + ads.adID;
                                var currentViewed = getCookie(cookiename);
                                if(!currentViewed){
                                    setCookie(cookiename, 1, 1);
                                }
                                else{
                                    setCookie(cookiename, currentViewed + 1, 1);
                                }
                            }
                        }


                    }

                    function OnPrerollCompleted(hit_ads) {
                    }
                    function OnAdsLoadError(ads) {

                        category = '';
                        if(ads.id.indexOf('Preroll_') != -1){
                            category = 'Pre-roll';
                        }
                        if(ads.id.indexOf('Midroll_') != -1){
                            category = 'Mid-roll';
                        }
                        if(ads.id.indexOf('Pause_') != -1){
                            category = 'Pause-ads';
                        }
                        if(category){
                            ga_event(category, 'Miss', ads.id.replace(/_/g, ' '));
                            api_miss_hit(ads.atCampaign,ads.atPartner);
                            //_paq.push(['trackEvent', category, 'Miss', ads.id.replace(/_/g, ' ') ]);
                        }

                    }

                    function loadAdsLinkError(error)
                    {
                        ga_event("Videos", "Play" +is_vip_text , error );
                    }

                    function loadAdsLinkSuccess(msg)
                    {
                        // ga_event("Videos", "Play" +is_vip_text ,msg );
                    }


                    function OnAdsLoadTimeOut(ads) {
                    }

                    function adBlockWarning(){
                        $(".banner_player_img .no_abp").html('<p style="display:none">Bạn vui lòng tắt các chương trình chặn quảng cáo để tiếp tục xem phim hoặc <a style="color:rgb(245, 255, 0)" href="http://www.hayhaytv.vn/tai-tro" title="Nạp VIP ngay">nạp VIP</a> để bỏ qua quảng cáo!</p>');
                        $(".banner_player_img").show();
                        $(".banner_player_img .no_abp p").show(500);
                    }

                    $(document).ready(function () {
                        $(window).bind("beforeunload", function () {
                            jwplayer(player_id).pause();
                        });
                        $('#modal_player_error .close-reveal-modal').click(function(){
                            $('#modal_player_error').hide();
                        });

                    })
                </script>
                <div class="banner_player " itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
                <div class="banner_player_img">
                    <div class="no_abp">
                        <img alt="banner phim Saving Mr.Wu  (Giải Cứu Con Tin)" width="960" height="480" src="http://img.hayhaytv.vn/film/25092015/saving-mr.wu_79471443176197.jpg">
                    </div>
                </div>
                <div style="z-index:999" id="adPlayerContainer" class="banner_player_player">
                    <div id="adPlayer"></div>
                </div>
                <div id="TVC_ADMICRO" width="980" height="480" style="position:absolute;z-index: 9999;">
                </div>
                <div style="width:100%;height:100%" class="banner_player_player" id="video_ads">
                    <div id="new_player"></div>
                    <script type="text/javascript">
                        var nextEpisode    = '';
                        var initVideoUrl   = 'http://118.69.202.38:1935/hayhaytv_film/_definst_/mp4:oRH6p5tas5L7982X2DK76bdh03P4Re7q/blank.mp4/playlist.m3u8';

                        var initVideoUrlOld  = '';
                        var initTrailerUrl = ''; // TO  DO
                        var adsXMLURL      = "http://www.hayhaytv.vn/vod/player_info/31363633366E61-1&epid=31363633366E61&t=1443186707";
                        var infoXMLUrl     = "http://www.hayhaytv.vn/vod/info/31363633366E61-1&epid=31363633366E61";
                        var imageSrc       = "http://img.hayhaytv.vn/film/25092015/saving-mr.wu_79471443176197.jpg";//background image cho player
                        var videoSubs      = [{file: 'http://xwqdhxxp.cdnviet.com/static/sprites/Saving.Mr.Wu.2015.vtt',kind: 'thumbnails'}];
                        var defaultObj = {duration: -1, position: 0, buffered: 10, fileSrc: "", imageSrc: "", userId: "-1"    //  User ID
                            , isError: false, volume: 100, playerWidth: 960, playerHeight: 482, stretching: "exactfit"
                        };
                        var playerInfo = defaultObj;
                        var ready = false;
                    </script>
                    <!-- <div class="reveal-modal-bg"></div> -->
                </div>
                <span id="btn_xemngay" class="btn_span">Xem phim</span>

            </div>

            </div>
        </div>
    </div>


    <script language="JavaScript" type="text/javascript">
        var button = 0;
        var check = 0;
        var check_admicro = 0;
        var xhrPool = [];
        var isVTT = false;//film VoTacThien
        var ADS_TRACKccabdf8924b80882a055910cf66c944b = '';
        adsXMLURLccabdf8924b80882a055910cf66c944b    = typeof(adsXMLURL) != 'undefined' ? adsXMLURL : false ;
        initVideoUrlccabdf8924b80882a055910cf66c944b = typeof(initVideoUrl) != 'undefined' ? initVideoUrl : false ;
        videoSubsccabdf8924b80882a055910cf66c944b    = typeof(videoSubs) != 'undefined' ? videoSubs : false ;
        $(document).ready(function () {
            ADS_TRACKccabdf8924b80882a055910cf66c944b = typeof(ADS_TRACK) != 'undefined' ? ADS_TRACK : true ;
            if (ADS_TRACKccabdf8924b80882a055910cf66c944b && 1) {
                videoSubs = initVideoUrl = jwplayer = initVideoUrlccabdf8924b80882a055910cf66c944b = videoSubsccabdf8924b80882a055910cf66c944b = '';
                adBlockWarning();
            }

            $("#close_myModalRate").click(function () {
                $("#myModalRate").hide();
            })
            var intvl_raty = setInterval(function () {
                if (typeof($('#star').raty) != "undefined") {
                    clearInterval(intvl_raty);
                    //console.log('raty: ' + typeof($('#star').raty));
                    $('#star').raty({
                        half: true,
                        hints: ['HAY CHẾT LIỀN', 'HAY CHỖ NÀO', 'Ờ CŨNG HAY', 'QUÁ XÁ HAY', 'TUYỆT ĐỈNH HAY'],
                        starHalf: 'http://static.hayhaytv.vn/layout/images/star-half.png',
                        starOff: 'http://static.hayhaytv.vn/layout/images/star-off.png',
                        starOn: 'http://static.hayhaytv.vn/layout/images/star-on.png',
                        score: function () {
                            return $(this).attr('data-score');
                        },
                        mouseover: function (score, evt) {
                            $("#score").html(score * 2);
                            var text = "";
                            if (score == "0.5") {
                                text = "Hay Chết Liền"
                            }
                            if (score == "1") {
                                text = "Hay chỗ nào"
                            }
                            if (score == "1.5") {
                                text = "Ai Bảo Hay"
                            }
                            if (score == "2") {
                                text = "Xém nữa thì Hay"
                            }
                            if (score == "2.5") {
                                text = "Có vẻ Hay"
                            }
                            if (score == "3") {
                                text = "Ờ Cũng Hay"
                            }
                            if (score == "3.5") {
                                text = "Hơi bị Hay"
                            }
                            if (score == "4") {
                                text = "Quá Là Hay"
                            }
                            if (score == "4.5") {
                                text = "Hay Quá Xá"
                            }
                            if (score == "5") {
                                text = "Tuyệt đỉnh Hay"
                            }
                            $("#hint").html(text);
                        },
                        mouseout: function (score, evt) {
                            var score_current = $("#score_current").val();
                            var hint_current = $("#hint_current").val();
                            $("#hint").html(hint_current);
                            $("#score").html(score_current);
                        },
                        click: function (score, evt) {
                            $(xhrPool).each(function (idx, jqXHR) {
                                jqXHR.abort();
                            });
                            $.ajax({
                                type: 'POST',
                                url: http + 'vod/addrating',
                                data: "id=" + "31363633366E61" + "&q=" + "detail" + "&rate=" + score * 2,
                                dataType: 'json',
                                beforeSend: function (jqXHR) { // before jQuery send the request we will push it to our array
                                    xhrPool.push(jqXHR);
                                },
                                success: function (result) {
                                    ga_event('Shows', 'Rating Shows', 'Nhấp rating show.');
                                    if (result.msg == "fail") {
                                        //alertLoginBox("để đánh giá phim này");
                                        jQueryLogin();
                                    } else {
                                        $("#score_current").val(score * 2);
                                        $("#myModalRate").show();
                                    }
                                }
                            })
                            var text = "";
                            if (score == "0.5") {
                                text = "Hay Chết Liền"
                            }
                            if (score == "1") {
                                text = "Hay chỗ nào"
                            }
                            if (score == "1.5") {
                                text = "Ai Bảo Hay"
                            }
                            if (score == "2") {
                                text = "Xém nữa thì Hay"
                            }
                            if (score == "2.5") {
                                text = "Có vẻ Hay"
                            }
                            if (score == "3") {
                                text = "Ờ Cũng Hay"
                            }
                            if (score == "3.5") {
                                text = "Hơi bị Hay"
                            }
                            if (score == "4") {
                                text = "Quá Là Hay"
                            }
                            if (score == "4.5") {
                                text = "Hay Quá Xá"
                            }
                            if (score == "5") {
                                text = "Tuyệt đỉnh Hay"
                            }
                            $("#hint_current").val(text);
                        }
                    });
                }
            }, 100);

            $("#btn_trailer").click(function () {
                $(".info_film-div").animate({
                    height: "0px",
                    opacity: 0
                }, {
                    duration: 1500,
                    complete: function () {
                        $(".info_film-div").hide();
                    }
                });
                $(".banner_player_player").css("display", "block");
                $(".banner_player_img").css("display", "none");

                addPlayer(initTrailerUrl, imageSrc, infoXMLUrl, '', true);
                button = 1;
            });


            $("#btn_xemngay").click(function () {

                $(".info_film-div").animate({
                    height: "0px",
                    opacity: 0
                }, {
                    duration: 1500,
                    complete: function () {
                        $(".info_film-div").hide();
                    }
                });
                $(".banner_player_img").hide();
                setTimeout(function(){
                    $.ajax({
                        type: 'POST',
                        url: http + 'vod/addview',
                        data: "id=" + "31363633366E61" + "&q=" + "detail",
                        dataType: 'json',
                        success: function (result) {

                        }
                    });
                },3000);

                if(!addPlayer(initVideoUrlccabdf8924b80882a055910cf66c944b, imageSrc, infoXMLUrl, videoSubsccabdf8924b80882a055910cf66c944b)){
                    return false;
                }
                eventTracking('Videos', 'Play', 'Nhấp vào nút xem ngay.');
                _paq.push(['trackEvent', 'Videos', 'Play', 'Nhấp vào nút xem ngay']);
                ga_event('Phim Lẻ', 'Xem Phim', 'Phim Hành động');
                // addPlayer(initVideoUrl, imageSrc , 'http://www.hayhaytv.vn/ads.xml', videoSubs);
                button = 2;
                if(isVTT){
                    api_impression_hit(234,39);
                }

                //increase z-index
                var balloonContainer = $('.AdvertiseBalloonFooterBottomRight div');
                if(balloonContainer.length){
                    balloonContainer.each(function(index, item){
                        $(item).css({"z-index" : '99998 !important'});
                    });
                    $('.banner_player ').css({position: "absolute","z-index" : '99999'});
                }
            });

            $(".banner_player_img").click(function () {
                //alertLoginBox("để xem phim này");{
                $("#btn_xemngay").click();
            });

        })

        //event custom share
        var UID = '1954312';

        var FILM_ID = 16636;
        var FILM_NAME = "Saving Mr.Wu  - Giải Cứu Con Tin";
        var FILM_URL = 'http://www.hayhaytv.vn/xem-phim/phim-saving-mr.wu-giai-cuu-con-tin-hd-31363633366E61.html';
        var CAT_LIST = '7,9,16,101';
        var REL_LIST = '9388,5578,6744,5469,5260,8997,5464,5282,6191,5255,14415,16633,16619,16601,16611,16650,16626,16569,16562,16293,14838,14582,14554,5202,5581,11225,6356,9042';

    </script>


</div>




<script type="text/javascript">
    $('body').on('click', '.slide_child_div_dt a, .pix_relativize a', function () {
        $(this).attr('target', '_blank');
    });
</script>
<!--script>
    var _paq = _paq || [];
        _paq.push(['setCustomVariable', 1, 'Member', '1954312', 'visit']);
    _paq.push(['setCustomVariable', 2, 'Gender', 'M', 'visit']);
    _paq.push(['setCustomVariable', 3, 'Age', '0', 'visit']);
    _paq.push(['setCustomVariable', 4, 'Email', 'daoquangphuong@gmail.com', 'visit']);
    // _paq.push(['setCustomVariable', 5, 'Cate', filmCate, 'visit']);
        _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);

    (function () {
        var u = (("https:" == document.location.protocol) ? "https" : "http") + "://piwik.hayhaytv.vn/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', 3]);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.defer = true;
        g.async = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
    })();

</script-->

<script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
    }
    _fbq.push(['addPixelId', '794058687333404']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);

</script>

<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=794058687333404&amp;ev=PixelInitialized" /></noscript>

<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '694861060647795');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=694861060647795&ev=PageView&noscript=1"
        /></noscript>
<!-- End Facebook Pixel Code -->



<!--script>
  var socket = io( 'socute.vn:3000/capture' );
  socket.on( 'connect', function() {
	console.log( 'connected' );

	var data = {
	  url: window.location.href,
	  webgl: Modernizr.webgl,
	  //touch: Modernizr.touch,
	  //video: Modernizr.video,
	  websocket: Modernizr.websockets
	};

	socket.emit( 'client-data', data );
  } );
</script-->

</body>
</html>